<configuration>
  <system.runtime.remoting>
    <application>
      <client url="tcp://localhost:9000">
        <activated type="RemClass, RemObj" />
      </client>
      <channels>
        <channel ref="tcp client" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
