<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="PaymentManager">
      <client>
        <wellknown type="CentralNodeManager, CentralNodeManager"
          url="tcp://localhost:9000/CentralNode/CentralNodeManager" />
      </client>
      <channels>
        <channel ref="tcp" port="9003">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>