<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="StockService"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/TestServiceHost/StockService/" binding="netTcpBinding" bindingConfiguration="StockService" contract="StockServiceReference.IStockService" name="StockService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
